# Dummy Varibles

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("homeprices.csv")
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [5]:
dummies = pd.get_dummies(df.town)

In [9]:
mergerd = pd.concat([df,dummies] ,axis=1)
mergerd

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [10]:
final = mergerd.drop( ['town'  , 'west windsor'] , axis=1 )
final

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()

In [22]:
X = final.drop('price' , axis=1)
y= final.price

In [25]:
model.fit(X ,  y  )

LinearRegression()

In [26]:
model.predict([[2800,0,1]])

array([590775.63964739])

In [28]:
model.predict([[3400,0,0]])

array([681241.66845839])

In [30]:
model.score(X,y)

0.9573929037221873

# LabelEncoder

In [31]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [32]:
from sklearn.preprocessing import LabelEncoder

In [34]:
le =LabelEncoder()

In [38]:
dfle =df
dfle.town= le.fit_transform(dfle.town)

In [39]:
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [45]:
X  =dfle[['town','area']].values
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [46]:
y= dfle.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

# OneHotEncoder

In [47]:
from sklearn.preprocessing import OneHotEncoder

In [55]:
ohe =OneHotEncoder( categorical_features=[0])

TypeError: __init__() got an unexpected keyword argument 'categorical_features'

In [54]:
ohe.fit_transform(X ).toarray()

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).